
body {
     background-image: url('hola.jpg'); 
     background-size: cover; 
 
     background-attachment: fixed; 
     color: white; 
     height: 100px;
     
 }
 

h1 {
    color: #b22222;
    font-size: 3em;
    
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out
    
}

@media (max-whith700){
    body {
        padding: 32px;
    }
   
    form{

        width: 340px;

    }

    img{
        max-width: 50rem;
        padding: 22rem 0;

    }
}
    .texto-en-movimiento {
        font-size: 3rem;
        font-weight: bold;
        color: #070707;
        white-space: nowrap;
        animation: mover 5s linear infinite;
    }

    @keyframes mover {
        0% {
            transform: translateX(100%); 
        }
        100% {
            transform: translateX(-100%); 
        }
    }

   
      